<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmu.address.mapper.AddressMapper">
    <select id="findAddressById" parameterType="Integer" resultType="AddressPo">
            select * from address where id = #{id} and is_deleted=0
    </select>
    <insert id="addAddress" parameterType="AddressPo" useGeneratedKeys="true" keyProperty="id">
        insert into address(user_id,city_id,province_id,county_id,address_detail,mobile,postal_code,consignee,is_default,gmt_create,gmt_modified,is_deleted)
        values (#{userId},#{cityId},#{provinceId},#{countyId},#{addressDetail},#{mobile},#{postalCode}, #{consignee}, #{beDefault}, #{gmtCreate},#{gmtModified},#{beDeleted})
    </insert>
    <update id="updateAddress" parameterType="AddressPo">
        update address
        <trim prefix="set" suffixOverrides=",">
            <if test="userId!=null">user_id=#{userId},</if>
            <if test="cityId!=null">city_id=#{cityId},</if>
            <if test="provinceId!=null">province_id=#{provinceId},</if>
            <if test="countyId!=null">county_id=#{countyId},</if>
            <if test="addressDetail!=null">address_detail=#{addressDetail},</if>
            <if test="mobile!=null">mobile=#{mobile},</if>
            <if test="postalCode!=null">postal_code=#{postalCode},</if>
            <if test="consignee!=null">consignee=#{consignee},</if>
            <if test="beDefault!=null">is_default=#{beDefault},</if>
            <if test="gmtCreate!=null">gmt_create=#{gmtCreate},</if>
            <if test="gmtModified!=null">gmt_modified=#{gmtModified},</if>
            <if test="beDeleted!=null">is_deleted=#{beDeleted},</if>
        </trim>
        Where id=#{id} and is_deleted=0
    </update>
    <delete id="deleteAddressById" parameterType="Integer">
    update address
        set is_deleted=1
        where id=#{id}
    </delete>

    <select id="list" resultType="Address" parameterType="Integer">
        select * from address where user_id=#{userId} and is_deleted=0
    </select>
    <select id="getAddress" resultType="Address" >
        select * from address where user_id=#{userId} and is_deleted=0 and consignee=#{consignee}
    </select>
    <select id="findRegionById" parameterType="Integer" resultType="String">
        select name from region where id=#{id}
    </select>
</mapper>